---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$brand-primary: #463cdc;
$brand-dark: lighten(black, 25%);
$brand-light: white;
$brand-red: #bc0000;
$brand-green: #0a8000;

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000000;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$left-margin:      0px;

$header-border-width: 20px;
$header-border-col1: #000000;
$header-border-col2: #0f0f0f;
$header-bg-col1: lighten(black, 20%);
$header-bg-col2: lighten(black, 10%);
$header-bg-image: linear-gradient(0deg, $header-bg-col1 0, $header-bg-col2 20%, $header-bg-col2 80%, $header-bg-col1 100%) !important;
//$header-bg: no-repeat center center;
$header-font-col: $brand-light;

$nav-color: $brand-light;
$nav-hover-color: $brand-red;

$image-height: 120px;
$front-page-main-margin: 100px;

$gray-dark: lighten(black, 25%);
$white: white;
$white-faded: fade(white, 80%);
$gray-light: #eee;

$title-fadein-base: 0.5s;
$title-fadein-step: 0.5s;

$cursor-color: $brand-red;
$tooltip-arrow-color: $brand-red;
$tooltip-bg-color: $brand-red;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "clean-blog",
        "front-page",
        "syntax-highlighting"
;
