\---
layout: front-page
\---

.main
  .container
    .row.services
      .col-xs-12
        .blurb
          %p
            I am an Edinburgh-based software developer with several years' of experience in the modern cloud landscape.
            I have experience with modern web and mobile applications involving server-side and client-side development;
            cloud-based integrations including Amazon Web Services, Google, Salesforce.com and Heroku.
            I hold certifications for Amazon Web Services and Force.com and have a
            very strong mathematical and analytical background. You can read my detailed CV
            %a{:href => "/cv"}here
            or check out my
            %a{:href => "{{ site.linkedin }}"}LinkedIn
            profile.

  .section
    .container
      %h2 Services
      .row.services
        .col-xs-12
          %ul
            %li
              %h3
                Web Development
              %p
                I can build responsive websites that are mobile- and desktop-ready using HTML5, CSS, Javascript, jQuery
                and modern frameworks such as Ruby on Rails and AnjularJS. I can migrate existing websites from legacy to modern frameworks.
            %li
              %h3
                Force.com App Development
              %p
                With my good knowledge of the Force.com platform I can design, build and deploy diverse solutions such as web-service
                integrations, custom backup and archive solutions, to full-fledged Force.com apps with complex functionality. Using
                test-driven-development, I ensure that the code is robust and easily exceeds the Force.com platform basic requirement of 75% code coverage.
            %li
              %h3
                Cloud Integrations and Solutions
              %p
                I can design, create and deploy custom integrations between your app and other Cloud platforms such as Google and Salesforce
                Force.com platforms, or bespoke applications running on Amazon Web Services. I hold Force.com Developer
                and AWS Solutions Architect certifications.
            %li
              %h3
                Google Apps Script
              %p
                I can implement powerful workflow automation solutions for Google Apps users using Google Apps Script, such as
                complex Spreadsheet or Document functionality and integrations with external services.

  .section
    .container
      %h2 Previous Projects
      .row.projects
        .col-xs-12
          %ul
            %li
              %h3
                Google <-> Salesforce Synchronisation Tool
              %p
                I worked as a core developer on a system to synchronise Email, Calendar and Contact information between Google Apps
                and Salesforce.com platforms.
            %li
              %h3
                Salesforce Email Backup and Archiving System
              %p
                I designed, built, implemented and maintained a robust archiving and retrieval system for Salesforce Email Messages.
                Salesforce data was stored on Amazon Web Services S3 for a cost-effective solution. The system was implemented both
                in-house and for a customer.

  .section
    .container
      %h2 Endorsements
      .row.endorsements
        .col-xs-12
          %ul
            %li
