\---
layout: front-page
header-img: "img/bg6.png"
\---

.front-page.accordion
  %h2 Services
  .container.services
    .row
      .col-xs-12
        %ul
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One

  %h2 Previous Projects
  .container.previous-projects
    .row
      .col-xs-12
        %ul
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One

  %h2 Endorsements
  .container
    .row
      .col-xs-12
        %ul
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One