<head>
  <meta charset='utf-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width initial-scale=1' name='viewport'>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta content='{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}' name='description'>
  <!-- Bootstrap Core CSS -->
  <link href='{{ site.baseurl }}/css/bootstrap.min.css' rel='stylesheet'>
  <!-- Custom CSS -->
  <link href='{{ site.baseurl }}/css/main.css' rel='stylesheet'>
  <!-- Custom Fonts -->
  <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
</head>
