// Clean Blog
$theme-one: #0085A1;
$theme-two: lighten(black, 25%);
$theme-three: lighten(black, 50%);
$theme-four: fade(white, 80%);
$theme-five: #eee;

// Sunset Dark
//$theme-one: rgb(242, 103, 31);
//$theme-two:rgb(201, 27, 38);
//$theme-three: rgb(156, 15, 95);
//$theme-four: rgb(96, 4, 122);
//$theme-five: rgb(22, 10, 71);