// Clean Blog
$brand-one: #0085A1;
$brand-two: lighten(black, 25%);
$brand-three: lighten(black, 50%);
$brand-four: fade(white, 80%);
$brand-five: #eee;

// Sunset Dark
//$brand-one: rgb(242, 103, 31);
//$brand-two:rgb(201, 27, 38);
//$brand-three: rgb(156, 15, 95);
//$brand-four: rgb(96, 4, 122);
//$brand-five: rgb(22, 10, 71);