.mobile-padding {
    margin-left: 10px;
}

h2 {
    font-size: 35px;
    color: $h2-color;
    margin-bottom: 30px;
}

h3 {
    color: $h3-color;
    margin-bottom: 10px;
}

.bstooltip + .tooltip.top,
.bstooltip + .tooltip.left {
    opacity: $tooltip-opacity;
}

.bstooltip + .tooltip.top > .tooltip-arrow {
    border-top-color: $tooltip-arrow-color;
}
.bstooltip + .tooltip.left > .tooltip-arrow {
    border-left-color: $tooltip-arrow-color;
}

.bstooltip + .tooltip > .tooltip-inner {
    font-size: $tooltip-font-size;
    color: $tooltip-color;
    background-color: $tooltip-bg-color;
}

.live-input:focus {
    outline: none;
}

h1.live-input,
h2.live-input {
    border: 1px solid rgba(0, 0, 0 ,0);
    transition: border 0.2s ease-out,
    box-shadow 0.2s ease-out;
}

h1.live-input:focus,
h1.live-input:hover {
    border: 1px solid $header-bg-col2;
    box-shadow: 1px 1px 10px 0px $header-bg-col1,
                -1px -1px 10px 0px $header-bg-col1;
}

h2.live-input:focus,
h2.live-input:hover {
    border: 1px solid $header-bg-col1;
    box-shadow: 1px 1px 10px 0px $header-bg-col2,
    -1px -1px 10px 0px $header-bg-col2;
}

.site-heading {
    h1 {
        color: $header-font-col;
    }

    h2 {
        color: $header-font-col;
        margin: 0;
        padding: 5px;
    }
}

header {
    .email {
        a {
            color: $header-font-col;
            &:hover {
                color: darken($header-font-col, 20%);
            }
        }
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }

    .photo {
        display: inline-block;
        text-align: center;
        width: $image-height;
        height: $image-height;
        background-size: cover;
        background-image: url("../img/me.jpg");
        background-position: center;
        border-radius: $image-height / 2;
        border: 2px groove $nav-color;
        box-shadow: 1px 1px 5px 0px $photo-edge-color,
        -1px -1px 5px 0px $photo-edge-color;
        transition: border 0.2s ease-out,
        box-shadow 0.2s ease-out;

        &:hover {
            box-shadow: 2px 2px 10px 0px $photo-edge-color,
            -2px -2px 10px 0px $photo-edge-color;
        }
    }
}

.wrapper {
    text-align: center;

    .blurb {
        display: inline-block;
        max-width: 900px;
        margin: 40px 0 0px 0;

        p {
            text-align: justify;
        }

        hr.large {
            max-width: 90%;
            border-color: $theme-2;
            //opacity: 0;
        }
    }

    .main {
        display: inline-block;
        //max-width: 800px;
        width: 100%;
        text-align: left;
        padding-left: 0;
        .container {
            max-width: 900px;
        }

        ul {
            list-style-type: none;
        }

        ul, li {
            margin-left: 0;
            padding: 0;
        }

        p {
            font-size: 18px;
            margin: 5px 0 50px 0;
            padding: 0;
        }

        h2 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 50px;
        }

        hr.large {
            //opacity: 0;
            border-color: $theme-2;
        }

        .section {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .section:nth-of-type(even) {
            background: lighten($theme-2, 40%);
        }

        .section:nth-of-type(odd) {
            //background: lighten($theme-2, 40%);
        }

        .services {
            p {
                text-align: justify;
            }
        }

        .projects {
        }
    }
}

@for $i from 1 through 11  {
    .fadein#{$i} {
            -webkit-animation: fadein $title-fadein-base + $i * $title-fadein-step
    }
}

@-webkit-keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@-moz-keyframes fadein {

    0% {
        -moz-transform: translateX(-800%) rotate(0);
    }

    100% {
        -moz-transform: translateX(0) rotate(-360deg);
    }

}

@-o-keyframes fadein {

    0% {
        -o-transform: translateX(-800%) rotate(0);
    }

    100% {
        -o-transform: translateX(0) rotate(-360deg);
    }

}

@keyframes fadein {

    from {
        opacity: 1.0;
    }

    to {
        opacity: 0;
    }

}