//* {
//    background: red;
//}
//
//html, body, header, footer {
//    background: blue;
//}

.email {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.photo {
    display: inline-block;
    text-align: center;
    width: $image-height;
    height: $image-height;
    background-size: cover;
    background-image: url("../img/me.png");
    border: 2px groove grey;
    box-shadow: 1px 1px 10px 0px black;
    transition: box-shadow .05s ease-out;
}

.photo:hover {
    box-shadow: 2px 2px 20px 2px #202020;
}

.front-page {
}

.skills {
}

.services {
}