//* {
//    background: red;
//}
//
//html, body, header, footer {
//    background: blue;
//}

.site-heading h1 {
    color: $brand-light;
}

.email {
    a {
        color: $brand-light;
    }
    a:hover {
        color: $brand-dark;
    }
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.photo {
    display: inline-block;
    text-align: center;
    width: $image-height;
    height: $image-height;
    background-size: cover;
    background-image: url("../img/me.png");
    border-radius: $image-height / 2;
    border: 2px groove $brand-light;
    box-shadow: 1px 1px 5px 0px $brand-light,
                -1px -1px 5px 0px $brand-light;
    transition: border 0.2s ease-out,
                box-shadow 0.2s ease-out;
}

.photo:hover {
    border: 2px groove $brand-dark;
    box-shadow: 1px 1px 5px 0px $brand-dark,
                -1px -1px 5px 0px $brand-dark;
    //border: 4px groove #2c2c2c;
    //box-shadow: inset 4px 4px 10px 1px rgba(0, 0, 0, 0.50),
    //            inset -2px -2px 10px 1px rgba(0, 0, 0, 0.20),
}

.front-page {
}

.skills {
}

.services {
}


h1 {
    -webkit-transform: translateX(-800%);
    -moz-transform: translateX(-800%);
    -o-transform: translateX(-800%);
    -ms-transform: translateX(-800%);
    transform: translateX(-800%);
    -webkit-animation: logomove 2s ease-out 1s 1 normal forwards;
    -moz-animation: logomove 2s ease-out 1s 1 normal forwards;
    -o-animation: logomove 2s ease-out 1s 1 normal forwards;
    animation: logomove 2s ease-out 1s 1 normal forwards;
}

@-webkit-keyframes logomove {

    0% {
        -webkit-transform: translateX(-800%) rotate(0);
    }

    100% {
        -webkit-transform: translateX(0) rotate(-360deg);
    }

}

@-moz-keyframes logomove {

    0% {
        -moz-transform: translateX(-800%) rotate(0);
    }

    100% {
        -moz-transform: translateX(0) rotate(-360deg);
    }

}

@-o-keyframes logomove {

    0% {
        -o-transform: translateX(-800%) rotate(0);
    }

    100% {
        -o-transform: translateX(0) rotate(-360deg);
    }

}

@keyframes logomove {

    0% {
        transform: translateX(-800%) rotate(0);
    }

    100% {
        transform: translateX(0) rotate(-360deg);
    }

}
