.box {
    width: 200px;
    height: 200px;
    background: blue;
}
.card {
    width: 600px;
//    display: inline-block;
}

.title, .subtitle {
    font-family: Cookie;
    float: left;
}

.title {
    font-size: 80px;
}

.subtitle {
    font-size: 45px;
}

.photo {
    float: right;
    margin-left: 50px;
    border: 2px groove grey;
    box-shadow: 1px 1px 10px 0px black;
    transition: box-shadow .05s ease-out;
}

.photo:hover {
    box-shadow: 2px 2px 20px 2px #202020;
}


.photo {
    width: 100px;
    height: 100px;
}
