h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: black;
}

footer {
    padding: 50px 0 65px;
    .list-inline {
        margin: 0;
        padding: 0;
    }
    .copyright {
        font-family: Lora, 'Times New Roman', serif;
        margin-top: 30px;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }
}

footer a {
    font-size: 1.2em;
}

a, a:visited {
    color: #404040;
}
a:hover,
a:focus {
    color: #0085a1;
}
a img:hover,
a img:focus {
    cursor: zoom-in;
}