h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

a, a:visited {
    color: #404040;
}

.copyright {
    margin-top: 30px;
    font-family: 'Lora', 'Times New Roman', serif;
}

hr.small {
    border-color: black;
}

.intro-header {
    background-color: white;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding: 100px 0 50px;
    color: black;
}

.intro-header .post-heading .meta a {
    color: black;
}

.navbar-custom .navbar-brand {
    color: black;
    padding: 20px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.8);
}
.navbar-custom .nav li a {
    color: black;
    padding: 20px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: rgba(0, 0, 0, 0.8);
}