/ Footer
%footer
  %p.copyright.text-muted Copyright © Robin Smith 2014

/ jQuery
%script
  console.clear()
%script{:src => "js/jquery.js"}
%script{:src => "js/jquery-ui.js"}
  / Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}
%script{:src => "js/accordion.jquery.js"}
%script{:src => "js/front-page.js"}
