/ Footer
%footer
  %p.copyright.text-muted Copyright © Robin Smith 2014

/ jQuery
%script{:src => "js/jquery.js"}
  / Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}
  / Custom Theme JavaScript
-#%script{:src => "js/clean-blog.min.js"}
%script{:src => "js/front-page.js"}
