%body
  %header.intro-header
    .container
      .row
        .col-lg-6.col-lg-offset-2.col-md-10.col-md-offset-1
          .site-heading
            %h1 Wanker
            %hr.small/
            %span.subheading {{ site.subtitle }}
          %img{:src => "img/me.jpg", :style => "height: 100px; width: 100px"}/
        .col-lg-2.col-lg-offset-0.col-md-2.col-md-offset-0
          .site-heading