-#%header.intro-header{:style => "background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"}
%header.intro-header
  .container
    .site-heading
      .row
        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
          %h1.title
            == {% assign array = "R|o|b|i|n|&nbsp|S|m|i|t|h" | split: "|" %}
            == {% for item in array %}<span class="fadein{{ forloop.index }}">{{ item }}</span>{% endfor %}
      .row
        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
          .photo{:href => "mailto:{{ site.email }}"}
      .row
        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
          %hr.small
          %span.subheading {{ site.subtitle }}
          .email
            %a{:href => "mailto:{{ site.email }}"} {{ site.email }}

  .macbook