%header
  .container
    .row
      .col-lg-10.col-lg-offset-2.col-xs-12
        .card
          .title
            {{ site.title }}
            %img.photo{:src => "/img/me.png"}
          .subtitle {{ site.subtitle }}
