/ Footer
%footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %ul.list-inline.text-center
          %li
            %a{:href => "{{ "}>
            \/feed.xml" | prepend: site.baseurl }}"&gt;
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-rss.fa-stack-1x.fa-inverse
        {% if site.twitter_username %}
        %li
          %a{:href => "https://twitter.com/{{ site.twitter_username }}"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-twitter.fa-stack-1x.fa-inverse
        {% endif %}
        {% if site.facebook_username %}
        %li
          %a{:href => "https://www.facebook.com/{{ site.facebook_username }}"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-facebook.fa-stack-1x.fa-inverse
        {% endif %}
        {% if site.github_username %}
        %li
          %a{:href => "https://github.com/{{ site.github_username }}"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-github.fa-stack-1x.fa-inverse
        {% endif %}
      %p.copyright.text-muted Copyright  {{ site.title }} {{ site.time | date: '%Y' }}
